.wrapper{
  width: 1280px;
  height: 1626px;
  margin: 0 auto;
  background-color: white;
}

body {
  
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  
}

.menu_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  word-spacing: 60px;
  padding: 26px 320px 26px 320px;
  margin: 0%;
  
}

.list-item {
  display: inline;
}

.menu_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.7px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  margin-right: 253px;
  margin-left: 253px;
  margin-top: 48px;
  margin-bottom: 38px;
  font-style: normal;
}

.first-paragraph,
.second-paragraph {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.first-paragraph {
  margin: 38px 67.5px 28px 67.6px;
}

.second-paragraph {
  margin: 0px 67.5px 66px 67.6px;
}

.button-start {
  background: #ff0000;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 700;
  width: 191px;
  height: 51px;
  text-align: center;
  border: none;
  margin: 0px 544.5px 42px 544.5px;
  padding: 18px 43px 18px 43px;
  border-radius: 4px;
}

.footer_item {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 40px 105px 29px 713px;
}

/* dark theme */
#change_btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#imageChange{
  width: 30px;
  height: 30px;
}
.dark_theme {
  background-color: rgb(33, 32, 32);
  color: white;
}

.light_theme  {
  background-color: white;
  color: black;
}